body {
  color: #CFDBD5;
}

.bgimg-1 {
  background-image: url("../../images/speckled-temp.png");
  min-height: 100%;
  background-size: cover;
}

.spur-card,
.spur-card .card-header{
  background-color: #333533;
}

